body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-top: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.community-menu {
    display: block;
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    margin-top: 5px;
    color: #999;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover {
    color: #499ef3;
}
